# -*- mode: yaml; -*-
# Time-stamp: <Sat 2023-11-18 16:59 svarrette>
################################################################################
# Complementary configuration for Vagrant
# You can overwrite here the default settings defined in ../Vagrantfile and
# rework the single / cluster configuratuion
###

#___________________________________________
# Complete / re-define the default boxes below
# Format:
#   :<os><version>: <username>/<box> # see https://vagrantcloud.com
# :boxes:
#   :debian12:    'debian/bookworm64'
#   :rockylinux9: 'rockylinux/9'
#   :rockylinux8: 'rockylinux/8'
#   :ubuntu22:    'ubuntu/jammy64'
#   :ubuntu20:    'ubuntu/focal64'
#   :fedora38:    'generic/fedora38'
#   :archlinux:    'archlinux/archlinux'

#_________________
# Default settings
# :defaults:
#   :os: :debian12        # Default OS from the above box definition
#   :ram: 512             # Default RAM
#   :vcpus: 1             # Default number of virtual CPUs
#   :vbguest_auto_update: 1  # check/update box guest additions

#____________________
# Network settings
# :network:
#   :domain: 'vagrant.dev'       # network domain to use
#   :range: '10.10.1.0/24'       # IP range to use

#___________________________________________________________
# VMs / Vagrant boxes to define apart from the compute nodes
# Format:
# <name>:
#   :hostname: <hostname>
#   :desc: <VM-description>
#   :os: <os>       # from the configured boxes
#   :ram: <ram>
#   :vcpus: <vcpus>
#   :role: <role>
#   :puppet_modules:
#   - '<name1>-<mod1>'
#   - '<name2>-<mod2>'
#
# :vms:
#   'anothervm':
#     :hostname: vm2
#     :ram: 2048
#     :vcpus: 2
#     :desc: 'VM #2 (secondary)'
#     :role: role2
#     :puppet_modules:
#     - ...
